<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key="Ip" value="10.3.0.2"/-->
    <add key="Ip" value="10.3.11.9"/>
    <!--add key="Ip" value="192.168.0.103"/-->
    <add key ="provider" value="System.Data.OleDb"/>
    <add key ="conString"
         value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\08087\Documents\Kurs\GameStat.mdb"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>